
TravelExpertsFront/.vs/config/applicationhost.config
TravelExpertsFront/.vs/TravelExpertsFront/v15/.suo
TravelExpertsFront/TravelExpertsFront/bin/TravelExpertsFront.dll
TravelExpertsFront/TravelExpertsFront/bin/TravelExpertsFront.dll
TravelExpertsFront/TravelExpertsFront/obj/Debug/TravelExpertsFront.csproj.CoreCompileInputs.cache
TravelExpertsFront/TravelExpertsFront/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TravelExpertsFront/TravelExpertsFront/bin/TravelExpertsFront.pdb
TravelExpertsFront/TravelExpertsFront/bin/TravelExpertsFront.dll
TravelExpertsFront/.vs/TravelExpertsFront/v15/Server/sqlite3/storage.ide-wal
TravelExpertsFront/.vs/TravelExpertsFront/v15/Server/sqlite3/storage.ide-shm
TravelExpertsFront/.vs/TravelExpertsFront/v15/.suo
TravelExpertsFront/.vs/config/applicationhost.config
TravelExpertsFront/TravelExpertsFront/obj/Debug/TravelExpertsFront.dll
TravelExpertsFront/TravelExpertsFront/bin/TravelExpertsFront.dll
TravelExpertsFront/TravelExpertsFront/bin/TravelExpertsFront.dll.config
TravelExpertsFront/TravelExpertsFront/bin/TravelExpertsFront.pdb
